body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.container {
    max-width: 1800px;
    margin: auto;
}


h2 {
    font-size: 40px;
    color: rgb(51, 118, 196);
}

h3 {
    font-size: 30px;    
    color: rgb(67, 142, 228);
}

h4 {
    color: rgb(11, 119, 243);
}

/* HEADER */

header {
    background-color: rgb(235, 239, 241);
}

header img {
    height: 15%;
    width: 15%;
    padding: 10px 15px;
    object-fit: contain;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    font-size: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}

header a {
    color: rgb(39, 100, 170);
    text-decoration: none;
    font-weight: bold;
}

/* ESTILO PRESENTACION */
#quienessomos {
    padding: 70px 0px;
}

#quienessomos .container {
    text-align: center;
    padding: 40px 12px;
    margin: 0;
}

#quienessomos h2 {
    margin: 0;
    font-size: 50px;
    text-align: center;
    padding: 0;
}

/* ESTILO AHORROS */

#ahorros {
    padding: 50px 0px;
}

#ahorros .container {
    text-align: center;
    padding: 40px 12px;
    margin: 0;
}

#ahorros h2{
    margin: 0;
    font-size: 50px;
    text-align: center;
    padding: 0;
}



/* INVERSION */

#inversion {
    text-align: center;
    padding: 40px 12px;
    margin: 0;
}

#inversion h2 {
    margin: 0;
    font-size: 50px;
    text-align: center;
    padding: 0;
}

#inversion p{
    font-size: 15px;    
    padding: 0;
}


footer {
    background-color: rgb(235, 239, 241);
}

footer p {
    margin: 0;
    padding: 10px;
    color: rgb(51, 50, 50);
}

footer .container {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (min-width: 720px) {

    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        display: flex;
        flex-direction: row;
        padding-bottom: 0px;
        padding-right: 0px;
    }

    header nav a {
        padding-right: 10px;
    }

    
    #quienessomos .container {
        display: flex;
        justify-content: center;
    }

    #quienessomos .presentacion {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #quienessomos .objetivo {
        width: 50%;
        max-width: 600px;
        text-align: left;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #ahorros .container {
        display: flex;
        justify-content: center;
    }

    #ahorros a{
        text-decoration: none;
    }

    #ahorros .tiposdeahorros {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #ahorros .video-ahorros {
        width: 50%;
        max-width: 600px;
        text-align: left;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .video-ahorros video {
        width: 480px;
        height: 200px;
    }

    #inversion{
        text-align: center;
               
    }

    #inversion a{
        text-decoration: none;
    }

    #inversion .container{
        display: flex;
        justify-content: center;
        padding: 55px 0;
    }

    #inversion .plazofijo{
        width: 50%;
        max-width: 600px;
        text-align: center;
        padding: 0 20px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #inversion .imagen-pf{
        background-image: url(Imagenes/plazo-fijo.jpg);
        background-size: cover;
        background-position: center center;
        height: 300px;
        width: 550px;
        border-radius: 7%;
        padding: 60px 0;
    }

    #inversion .container-2{
        display: flex;
        justify-content: center;
    }

    #inversion .acc-bonos{
        width: 50%;
        max-width: 600px;
        text-align: center;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #inversion .imagen-bonos{
        background-image: url(Imagenes/acciones-bonos.jpg);        
        background-size: cover;
        background-position: center;
        height: 300px;
        width: 550px;
        border-radius: 7%;
        padding: 60px 0;
    } 
    
    #inversion .acc-o-bonos{
        padding: 45px;
    }

    #inversion h4{
        text-align: center;
    }

    #inversion .bonos{
        text-align: left;       
    }

    #inversion .acciones{
       text-align: left;
    }

    #inversion .container-3{
        display: flex;
        justify-content: center;
        padding: 45px 0;
    }

    #inversion .moneda-ext{
        width: 50%;
        max-width: 600px;
        text-align: center;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #inversion .imagen-mon-ext{
        background-image: url(Imagenes/dolar.jpg);
        background-size: cover;
        background-position: center center;
        height: 300px;
        width: 550px;
        border-radius: 7%;
        padding: 60px 0;
    }

}